.home {
  flex-direction: column;
  gap: 20%;
}

.head-container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.button-container_home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.head-container h1 {
  font-size: 60px;
}

.head-container h3 {
  overflow: hidden;
  font-weight: lighter;
  border-right: 0.15em solid #54b84f;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #54b84f;
  }
}
